#header{
    display: flex;
    gap: 50%;
    border: solid 2px;
    background-color: green;
    color: #ddd 
}

#link{
    color: #ddd;
}

#vallona{
  display: flex;
  gap: 20%;
  margin: 40px;
}
.topnav {
  display: inline-flex;
  gap: 30px;
 color: black;
  
  }
  
  .topnav p:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav p.active {
    color: green;
  }

  .content1{
    display: flex;
    gap: 5%;
    margin: 40px;
  }
  #img{
    width:200%;
  }

  .flowers1{
    display: flex;
    margin: 40px;
    
  }
  #imgs{
    width: 20%;
  }
  .heading2{
    display: flex;
    gap: 5%;
    margin-left: 25%;
  }
  .heading2 h1.active{
color: green;
  }

  
  .heading3{
    text-align: center;
  }

  .content2{
    display: flex;
    gap: 2px;
    margin: 40px;
  }
.maluwa{
  display: flex;

}
.content3{
  display: flex;
  margin: 40px;
}
#plant{
  width: 70%;
}
#plant2{
  width: 40%;
}
#stretch{
  width: 90%;
  height: 300px;
  margin: 40px;
}
.maluwa2{
  display: flex;
  gap: 5%;
}
#pat{
  margin: 40px;
}
.content4{
  display: flex;
  gap: 20%;
  margin: 40px;
}
.blog{
  display: flex;
  gap: 10%;
  margin: 40px;
}
#col{
  color: green;
}
#button{
  background-color: green;
  color: #ddd;
}
.arrow{
  display: flex;
  gap: 5%;
  margin-left: 30%;
}
 
  .footer{
    background-color: whitesmoke;
    color: black;
    width: 100%;
    display: flex;
    gap: 10%;
    padding-bottom: 100px;
    margin: 60px;
  }
  .twitter{
    display: flex;
  }
  #container{
    border: 2px;
    margin: 5%;
  }
  #body{
    margin: 5%;
  }
  #words{
    width: 30%;
  }

  @media (max-width: 2109px) and (min-width: 0px){
    #header{
    display: flex;
    flex-wrap: wrap;
  }

#vallona{
  display: flex;

  flex-wrap: wrap;
  margin: 0;
}
.topnav {
  display: inline-flex;
flex-wrap: wrap;
  }
  .content1{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  #webpic{
    width: 100%;
margin: 0px;

  }
  #img{
    width:100%;
  }
  .flowers1{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .heading2{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .content2{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  .maluwa{
    display: flex;
    flex-wrap: wrap;
  }

  .heading3{
    margin: 0px;
  }

  .content3{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  #plant{
    width: 70%;
  }
  #plant2{
    width: 40%;
  }
  #stretch{
    width: 90%;
    height: 300px;
    margin: 0px;
  }
  .maluwa2{
    display: flex;
    flex-wrap: wrap;
  }
  #pat{
    margin: 0px;
  }
  .content4{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  .blog{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  .arrow{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  .footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  }
    
  
    
  
